<% content_for :page_title, 'Add a new Curated Link' %>

<div class="grid-row">
  <div class="column-full">
    <h1 class="heading-xlarge">
      Add a new Curated Link
    </h1>
  </div>
</div>

<div class="grid-row">
  <div class="column-one-half">
    <%= render 'form' %>
  </div>
  <div class="column-one-half">
    <div class="curated-link-preview js-curated-link-preview">
      <h2 class="heading-small">How your link will look</h2>
      <%= render partial: 'foi/suggestions/suggestion', locals: { suggestion: @curated_link } %>
    </div>
  </div>
</div>
