<div class="grid-row">
  <div class="column-two-thirds">
    <h2 class="heading-medium">
      Using iCasework Published Requests as Suggestions
    </h2>

    <p class="lede">
      FOI Works makes your responses to FOI requests work a little harder.
    </p>

    <p>
      By publishing responses in iCasework, FOI Works automatically imports
      them to use as Suggestions that get presented to citizens when
      they&rsquo;re making a similar request. This helps reduce FOI requests by
      guiding citizens towards pre-existing information.
    </p>

    <p class="notice">
      <i class="icon icon-important">
        <span class="visually-hidden">Warning</span>
      </i>

      <strong class="bold-small">
        Suggestions use data directly extracted from iCasework.  You must ensure
        that no Personally Identifiable Information (PII) is revealed:
      </strong>
    </p>

    <p>
      When publishing a request in iCasework, you must:
    </p>

    <ul class="list list-bullet font-xsmall">
      <li>
        Remove PII from the case &ldquo;Details&rdquo;. You can always go
        back to view the full original details that were submitted.
      </li>

      <li>
        Ensure a single, redacted, PDF response document is published. The
        document name needs to be one of:

        <ul class="list list-bullet font-xsmall">
          <li>
            <code>Response (all information to be supplied)</code>
          </li>
          <li>
            <code>Response (some exempt)</code>
          </li>
          <li>
            <code>Response (some not held)</code>
          </li>
        </ul>
      </li>

      <li>
        Ensure that response document is marked as &ldquo;allowed for self
        service&rdquo;.
      </li>
    </ul>
  </div>
</div>

